html {
	height: 100%;
	font-family: Secular One;
}

.footer {
	bottom: 0px;
	position: fixed;
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 13px;
}

.footer p {
	margin: 0;
}

p,
h1 {
	color: #ffffff;
}

#contact button,
#home button {
	border: none;
	outline: none;
	background-color: #6c5ce7;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	border-radius: 5px;
	transition: all ease 0.1s;
	box-shadow: 0px 5px 0px 0px #a29bfe;
	height: 100%;
	width: 100%;
	font-family: Secular One;
}

#contact button:active,
#home button:active {
	transform: translateY(5px);
	box-shadow: 0px 0px 0px 0px #a29bfe;
}

button {
	cursor: pointer;
}

div#contact {
	height: 45px;
	width: 120px;
	position: fixed;
	margin: 10px;
	z-index: 300;
	transform: translateX(55px);
}

#home {
	height: 45px;
	width: 45px;
	position: fixed;
	margin: 10px;
	z-index: 300;
}

#home button {
	padding: 11px;
}

nav {
	display: flex;
	width: 33%;
	align-self: flex-end;
	padding-bottom: 2.5vw;
	padding-left: 2.5vw;
	justify-content: space-around;
}

main {
	color: #fff;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

body {
	background: center url(images/Fond_portfolio.jpg);
	height: 100%;
	margin: 0;
}

.pdf {
	width: 25px;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

#present {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-right: 6vw;
	padding-top: 3vw;
	height: 50%;
	width: 100%;
	align-items: flex-end;
}

#present h1+p {
	font-size: 50px;
	margin: 0;
}

#present h1 {
	margin: 0;
	margin-right: 120px;
}

h1 {
	margin: 0;
	font-size: 90px;
}

#contact-card button {
	background: transparent;
	border: none;
}

#contact-card #xmark {
	width: 25px;
	height: 25px;
	transform: translateX(-7px);
}

#contact-card button img,
#contact-card a img,
#home img,
.carousel-button,
.pdf,
.retex .name img,
.plus a {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(46deg) brightness(104%) contrast(102%);
}

#contact-card button img:hover,
#contact-card a img:hover,
.carousel-button:hover,
.pdf:hover,
.plus a:hover {
	filter: invert(32%) sepia(93%) saturate(1565%) hue-rotate(231deg) brightness(93%) contrast(94%);
	cursor: pointer;
}

#contact-card {
	position: fixed;
	animation-duration: 1.5s;
	animation-name: slidein;
	display: none;
	padding: 10px;
	z-index: 300;
}

.card {
	width: 221px;
	height: 285px;
	background: rgb(38, 38, 38);
	box-shadow: 7px 5px 10px rgb(0 0 0 / 33%);
	border-radius: 5px;
}

.imge {
	height: 106px;
	background-color: #6c5ce7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.imge .Usericon {
	transform: translateX(10px) translateY(10px);
	width: 86px;
}

.Usericon img {
	width: 100%;
	border-radius: 10px;
}

.imge .UserName {
	background-color: #414141;
	width: 110px;
	height: 20px;
	border-width: 10px;
	border-radius: 5px;
	border-color: #262626;
	color: #ffffff;
	font-size: 15px;
	transform: translateX(102px) translateY(-46px);
	margin: 0;
	margin-right: 0;
	text-align: center;
}

.imge .Id {
	background-color: #414141;
	width: 100px;
	height: 15px;
	border-width: 10px;
	border-radius: 5px;
	border-color: #262626;
	color: #262626;
	font-size: 15px;
	font-weight: bold;
	transform: translateX(70px) translateY(-25px);
	margin: 0;
}

.Description {
	border-color: #141414;
	background-color: #414141;
	transform: translate(5px, 6px);
	width: 210px;
	height: 132px;
	border-radius: 5px;
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column-reverse;
}

.Description p {
	margin: 0;
	font-size: 17.5px;
}

.social-media:before {
	content: " ";
	display: block;
	width: 100%;
	height: 2px;
	transform: translatey(10px);
	background: #414141;
}

.social-media a {
	margin-right: 15px;
	text-decoration: none;
	color: inherit;
}

.social-media a:last-child {
	margin-right: 0;
}

.social-media a img {
	transform: translateX(61px) translateY(15px);
	width: 20px;
	fill: currentColor;
}

@keyframes slidein {
	from {
		top: -300px;
	}

	to {
		top: 0px;
	}
}

@keyframes slideinphone {
	from {
		top: -525px;
	}

	to {
		top: 0px;
	}
}

.container {
	position: relative;
	width: 190px;
	height: 254px;
	transition: 200ms;
}

.container:active {
	scale: 0.9;
}

#card {
	position: absolute;
	inset: 0;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: 700ms;
	background: #262626;
}

.title {
	opacity: 0;
	transition-duration: 100ms;
	transition-delay: 10ms;
	position: absolute;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

.title p {
	font-size: 20px;
	margin: 5px;
}

.tracker:hover~#card .title {
	opacity: 1;
}

#prompt {
	bottom: 8px;
	left: 12px;
	z-index: 20;
	font-size: 20px;
	font-weight: bold;
	transition: 300ms ease-in-out-out;
	position: absolute;
	max-width: 110px;
	color: rgb(255, 255, 255);
}

.tracker {
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 100%;
}

.tracker:hover {
	cursor: pointer;
}

.tracker:hover~#card #prompt {
	opacity: 0;
}

.canvas {
	perspective: 800px;
	inset: 0;
	z-index: 200;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
		"tr-6 tr-7 tr-8 tr-9 tr-10"
		"tr-11 tr-12 tr-13 tr-14 tr-15"
		"tr-16 tr-17 tr-18 tr-19 tr-20"
		"tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	transition: 200ms;
}

.tr-1 {
	grid-area: tr-1;
}

.tr-2 {
	grid-area: tr-2;
}

.tr-3 {
	grid-area: tr-3;
}

.tr-4 {
	grid-area: tr-4;
}

.tr-5 {
	grid-area: tr-5;
}

.tr-6 {
	grid-area: tr-6;
}

.tr-7 {
	grid-area: tr-7;
}

.tr-8 {
	grid-area: tr-8;
}

.tr-9 {
	grid-area: tr-9;
}

.tr-10 {
	grid-area: tr-10;
}

.tr-11 {
	grid-area: tr-11;
}

.tr-12 {
	grid-area: tr-12;
}

.tr-13 {
	grid-area: tr-13;
}

.tr-14 {
	grid-area: tr-14;
}

.tr-15 {
	grid-area: tr-15;
}

.tr-16 {
	grid-area: tr-16;
}

.tr-17 {
	grid-area: tr-17;
}

.tr-18 {
	grid-area: tr-18;
}

.tr-19 {
	grid-area: tr-19;
}

.tr-20 {
	grid-area: tr-20;
}

.tr-21 {
	grid-area: tr-21;
}

.tr-22 {
	grid-area: tr-22;
}

.tr-23 {
	grid-area: tr-23;
}

.tr-24 {
	grid-area: tr-24;
}

.tr-25 {
	grid-area: tr-25;
}

.tr-1:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover~#card {
	transition: 125ms ease-in-out;
	transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#titre {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

.carousel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carousel-container {
	margin-top: 50px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-button {
	width: 5vh;
	height: 5vh;
	border: none;
	opacity: 100%;
	background: transparent;
}

.image-container {
	display: flex;
	align-items: center;
	width: 80%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

.rtx-image-container {
	display: flex;
	align-items: center;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

.rtx-carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	max-width: 100%;
	min-width: 100%;
}

.wrapper-1 {
	transition: margin 1s;
}

.carousel-image {
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
	border-radius: 25px;
}

.button-container-small {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.wrapper {
	width: 200px;
	height: 60px;
	position: relative;
	z-index: 1;
}

.circle {
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	background-color: #f35d5e;
	left: 15%;
	transform-origin: 50%;
	animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
	0% {
		top: 60px;
		height: 5px;
		border-radius: 50px 50px 25px 25px;
		transform: scaleX(1.7);
	}

	40% {
		height: 20px;
		border-radius: 50%;
		transform: scaleX(1);
	}

	100% {
		top: 0%;
	}
}

.circle:nth-child(2) {
	left: 45%;
	animation-delay: .2s;
}

.circle:nth-child(3) {
	left: auto;
	right: 15%;
	animation-delay: .3s;
}

.shadow {
	width: 20px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 62px;
	transform-origin: 50%;
	z-index: -1;
	left: 15%;
	filter: blur(1px);
	animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
	0% {
		transform: scaleX(1.5);
	}

	40% {
		transform: scaleX(1);
		opacity: .7;
	}

	100% {
		transform: scaleX(.2);
		opacity: .4;
	}
}

.shadow:nth-child(4) {
	left: 45%;
	animation-delay: .2s
}

.shadow:nth-child(5) {
	left: auto;
	right: 15%;
	animation-delay: .3s;
}

.loader {
	background-color: #414141;
	position: absolute;
	z-index: 1000;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fondu-in 0.2s;
}

.fondu-out {
	display: none;
}

#retexlist {
	width: 100%;
	display: flex;
	color: #fff;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.retex {
	margin: 30px;
	width: 350px;
	height: 200px;
	display: flex;
	flex-direction: column;
	transition: all 0.3s;
}

.retex .image {
	height: 80%;
	width: 100%;
	background-size: auto;
	background-repeat: round;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	transition: all 0.3s;
}

#odomo .image {
	background-image: url(images/odomo-rtx.jpg);
}

#biosphere .image {
	background-image: url(images/biosphere-rtx.jpg);
}

#blogue .image {
	background-image: url(images/blogue-rtx.jpg);
}

#computr .image {
	background-image: url(images/computr-rtx.png);
	background-repeat: round;
}

#minuteur .image {
	background-image: url(images/minuteur-rtx.png);
}

#infopany .image {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

#infopany .image img {
	width: 90%;
	height: 60%;
}

.retex .name {
	height: 20%;
	width: 100%;
	background-color: #262626;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	transition: all 0.3s;
}

.retex .name img {
	height: 50%;
}

.retex:hover {
	cursor: pointer;
}

.retex:hover {
	scale: 1.075;
	transition: all 0.3s;
}

.retex-aff {
	background-color: rgb(0, 0, 0, 0.40);
	position: fixed;
	z-index: 1000;
	height: 100%;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
}

.retex-fen {
	width: 75%;
	height: 70%;
	background-color: rgb(26, 26, 26);
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 1vw;
	align-content: center;
	display: none;
	animation: open-overlay 0.5s;
}

.schema {
	margin-top: auto;
	margin-bottom: auto;
	width: 40vw;
	height: 22vw;
	display: flex;
    justify-content: center;
}

.schema img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

#retex-biosphere .schema img {
	width: auto;
}

.pres {
	width: 30%;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	text-align: justify;
}

#filtre-container {
	width: 100%;
	height: 15px;
	margin: 0;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 7.5px;
	font-size: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#filtre-container p {
	margin: 0;
	margin-left: 2vw;
	margin-right: 2vw;
}

#filtre-container p:first-of-type {
	text-decoration: underline;
}

#filtre-container p:hover {
	cursor: pointer;
	scale: 1.2;
}

.pres img {
	width: 5vh;
	align-self: flex-end;
}

.plus a {
	text-decoration: none;
}

#cv {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
}

#cv img {
	width: 50%;
	height: auto;
	border-radius: 10px;
}

@keyframes fondu-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

@keyframes open-overlay {
	from {
		scale: 0;
	}

	to {
		scale: 1;
	}
}

@media screen and (max-height: 450px) {
	#present h1+p {
		font-size: 45px;
	}

	#present h1 {
		font-size: 69px;
		margin-right: 155px;
	}
}

@media screen and (min-width: 575px) {
	.retex-fen .plus {
		align-self: flex-end;
		width: 72%;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 1000px) and (min-height: 1470px) {

	#cv img {
		width: 90%;
		transform: translateY(10%);
	}

	.footer {
		font-size: 25px;
		padding: 3px;
	}

	div#contact {
		height: 90px;
		width: 240px;
		transform: translateX(100px);
	}

	.retex-fen .plus {
		position: inherit;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#home {
		height: 90px;
		width: 90px;
	}

	#contact button {
		font-size: 25px;
		border-radius: 10px;
	}

	#home button {
		padding: 20px;
		border-radius: 10px;
	}

	main {
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	#present {
		align-items: center;
	}

	#present {
		padding-right: 0;
		padding-top: 130px;
		margin-bottom: 25px;
	}

	#present h1+p {
		font-size: 75px;
		text-align: center;
	}

	#present h1 {
		font-size: 150px;
		margin: 0;
	}

	nav {
		align-self: center;
		padding-left: 0;
		padding-bottom: 35px;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 1250px;
		align-items: center;
		justify-content: space-between;
	}

	.container {
		width: 77vw;
		height: 23.5vh;
		margin-bottom: 10px;
	}

	.container #prompt {
		font-size: 50px;
		text-align: center;
		bottom: 7vh;
		left: 35.7vw;
	}

	.container:first-of-type #prompt {
		left: 30vw;
	}

	.pdf {
		width: 69px;
		bottom: 60px;
	}

	.card {
		width: 402px;
		height: 500px;
	}

	.imge {
		height: 200px;
	}

	.imge .Usericon {
		width: 180px;
	}

	.imge .UserName {
		width: 174px;
		height: 34px;
		font-size: 25px;
		transform: translateX(208px) translateY(-99px);
	}

	#contact-card #xmark {
		width: 69px;
		height: 69px;
	}

	.Description {
		width: 390px;
		height: 215px;
	}

	.Description p {
		font-size: 30px;
	}

	.social-media a img {
		transform: translateX(44px) translateY(22px);
		width: 45px;
		margin-left: 25px;
		margin-right: 25px;
	}

	#contact-card {
		animation-name: slideinphone;
	}

	#titre {
		padding-top: 130px;
	}

	.carousel button img {
		height: 60px;
	}

	.retex {
		width: 700px;
		height: 400px;
		font-size: 3vw;
	}

	.retex-fen {
		flex-direction: column;
		align-items: center;
		font-size: 1.5vh;
		height: 65%;
	}

	.pres {
		width: 90%;
	}

	.schema {
		width: 69vw;
		height: 20vh;
		margin: 0;
	}

	.pres img {
		width: 90px;
	}

	#filtre-container {
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 1.5vh;
	}
}